<div class="gs-wrapper nopadd">
  <div class="random-circle special-circle"></div>
  <div class="random-circle special-circle"></div>
  <div class="random-circle special-circle"></div>
  <div class="random-circle special-circle"></div>
  <div class="first">
    <div class="centered">
      <div class="gs-wrapper__inner flex">
        <div class="col hover-enlarge" data-selector="insight">
          <h3 class="underline">Insight</h3>
        </div>
        <div class="col hover-enlarge" data-selector="strategy">
          <h3 class="underline">Strategy</h3>
        </div>
        <div class="col hover-enlarge" data-selector="studio">
          <h3 class="underline">Studio</h3>
        </div>
        <div class="col hover-enlarge" data-selector="learn">
          <h3 class="underline">Impact</h3>
        </div>
      </div>
    </div>
  </div>

  {% assign studios = site.studio %}
  {% for item in site.studio %}
    {% if item.title == 'Insight' %}
  <div class="studio-info-wrapper insight">
    <span class="close-window">Close</span>
    <h2>{{item.subTitle}}</h2>
    <p>{{item.content}}</p>
    <h6>{{item.['Services Description'] | replace: '**' | replace: '**' | replace: '\', '<br>' }}
      </h6>
  </div>
  {% endif %}
  {% if item.title == 'Strategy' %}
  <div class="studio-info-wrapper strategy">
    <span class="close-window">Close</span>
    <h2>{{item.subTitle}}</h2>
    <p>{{item.content}}</p>
    <h6>{{item.['Services Description'] | replace: '**' | replace: '\', '<br>'}}
      </h6>
  </div>
  {% endif %}
  {% if item.title == 'Studio' %}
  <div class="studio-info-wrapper studio">
    <span class="close-window">Close</span>
    <h2>{{item.subTitle}}</h2>
    <p>{{item.content}}</p>
    <h6>{{item.['Services Description'] | replace: '**' | replace: '\', '<br>'}}
      </h6>
  </div>
  {% endif %}
  {% if item.title == 'Studio' %}
  <div class="studio-info-wrapper learn">
    <span class="close-window">Close</span>
    <h2>{{item.subTitle}}</h2>
    <p>{{item.content}}</p>
    <h6>{{item.['Services Description'] | replace: '**' | replace: '\', '<br>'}}
      </h6>
  </div>
  {% endif %}
  {% endfor %}
</div>
